<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>CFBundleDisplayName</key>
	<string>FloodCitiSense</string>
	<key>CFBundleIdentifier</key>
	<string>at.ac.iiasa.FloodCitiSense.ios</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>otherExternalDomainYouNeedToCall</key>
	<dict>
		<key>NSIncludesSubdomains</key>
		<true/>
		<key>NSExceptionAllowsInsecureHTTPLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>fb</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb2286542391658872</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>2286542391658872</string>
	<key>FacebookDisplayName</key>
	<string>FloodCitiSense</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>The FloodCitiSense app give weather information and record incident based on your location. which is why we ask you to share your current location!.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The FloodCitiSense app give weather information and record incident based on your location. which is why we ask you to share your current location!.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>The FloodCitiSense app give weather information and record incident based on your location. which is why we ask you to share your current location!.</string>
	<key>NSCameraUsageDescription</key>
	<string>The FloodCitiSense app needs access to the camera to take photos of floods.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The FloodCitiSense app needs access to photos to pick photos of floods.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The FloodCitiSense app needs access to microphone to record the audio of floods.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>The FloodCitiSense app needs access to Calendar</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>The FloodCitiSense app needs access to Bluetooth</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>The FloodCitiSense app needs access to photos to pick photos of floods.</string>
	<key>CFBundleName</key>
	<string>FloodCitiSense</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon-3.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage-2.launchimage</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.3</string>
	<key>CFBundleVersion</key>
	<string>16</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
