<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #pictureForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="picture.id">{{l("EditPicture")}}</span>
                        <span *ngIf="!picture.id">{{l("CreateNewPicture")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
								<label>{{l("URL")}}</label>
								<input type="text"  class="form-control" [(ngModel)]="picture.uRL" name="URL"    />
								</div>
					
								<div class="form-group">
								<label>{{l("Base64")}}</label>
								<input type="text"  class="form-control" [(ngModel)]="picture.base64" name="Base64"    />
								</div>
					
								<div class="form-group">
								<label>{{l("TenantID")}}</label>
								<input type="number"  class="form-control" [(ngModel)]="picture.tenantID" name="TenantID"  />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!pictureForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>